In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
dict = {'a':10, 'b':20, 'c': 30}

**Creating Pandas Series**

Different ways to initialize a Series

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

**A Series can hold any type of data object.**

In [8]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series([print,len,max,np.argmax])

0              <built-in function print>
1                <built-in function len>
2                <built-in function max>
3    <function argmax at 0x7f01917ee790>
dtype: object

In [10]:
ser1 = pd.Series(['Toronto', 'London', 'Paris'], [1,2,3])

In [11]:
ser1

1    Toronto
2     London
3      Paris
dtype: object

In [12]:
ser1[1]

'Toronto'

In [13]:
ser2 = pd.Series([1,2,3], ['Canada', 'Britain', 'France'])

In [14]:
ser2

Canada     1
Britain    2
France     3
dtype: int64

In [15]:
ser2['France']

3

In [16]:
ser3 = pd.Series([3,4,5,6,7], ['Canada', 'Britain', 'Mexico', 'Japan', 'France'])

In [17]:
ser2 + ser3

Britain     6.0
Canada      4.0
France     10.0
Japan       NaN
Mexico      NaN
dtype: float64

In [18]:
ser2 * ser3

Britain     8.0
Canada      3.0
France     21.0
Japan       NaN
Mexico      NaN
dtype: float64

In [19]:
ser2 / ser3

Britain    0.500000
Canada     0.333333
France     0.428571
Japan           NaN
Mexico          NaN
dtype: float64

**DataFames**

In [20]:
from numpy.random import randn

In [21]:
np.random.seed(101)

In [22]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [25]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [26]:
type(df.W)

pandas.core.series.Series

In [27]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [28]:
df['WZ'] = df['W'] + df['Z']

In [29]:
df['WZ']

A    3.210676
B    1.257083
C   -2.607169
D    1.143752
E    0.874303
Name: WZ, dtype: float64

In [30]:
df

          W         X         Y         Z        WZ
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [31]:
df.drop('WZ', axis = 1, inplace=True)

In [32]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [33]:
x = df.drop('E')

In [34]:
x

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [35]:
df.shape

(5, 4)

**DataFrame Selection and Indexing**

In [36]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [37]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [38]:
df.loc['B','Y']

-0.8480769834036315

In [39]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [40]:
df.loc[['A','B'], ['W','X','Y','Z']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [41]:
df.loc[['A','B'],:]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [42]:
df.loc[:,['W']]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [43]:
df.iloc[:2,:]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [44]:
df.iloc[:,:1]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

**DataFrame Conditional Selection**

In [45]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [46]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [47]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
df[df['Z'] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [49]:
df[df['W'] > 0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [50]:
df[df['W'] > 0][['X', 'Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [51]:
df1 = pd.DataFrame(np.random.randn(4,7), ['A', 'B', 'C', 'D'], ['T', 'U', 'V', 'W', 'X', 'Y', 'Z'])

In [52]:
df1

          T         U         V         W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528  0.166905
B  0.184502  0.807706  0.072960  0.638787  0.329646 -0.497104 -0.754070
C -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652 -0.993263
D  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

In [53]:
df1[df1['T'] > 0][['X']]

          X
A -0.134841
B  0.329646
D -0.156598

In [54]:
df1[(df1['W'] > 0) & (df1['X'] < 1)]

          T         U         V         W         X         Y         Z
B  0.184502  0.807706  0.072960  0.638787  0.329646 -0.497104 -0.754070
C -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652 -0.993263
D  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

In [55]:
df1[(df1['U'] < 0) | (df1['Z'] > 0)]

          T         U         V         W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528  0.166905
D  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

In [56]:
df1

          T         U         V         W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528  0.166905
B  0.184502  0.807706  0.072960  0.638787  0.329646 -0.497104 -0.754070
C -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652 -0.993263
D  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

**DataFrame Indexing**

In [57]:
df1.reset_index()

  index         T         U         V         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528  0.166905
1     B  0.184502  0.807706  0.072960  0.638787  0.329646 -0.497104 -0.754070
2     C -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652 -0.993263
3     D  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

In [58]:
newind = 'Totonro Ottawa Oshswa London'.split()

In [59]:
newind

['Totonro', 'Ottawa', 'Oshswa', 'London']

In [60]:
df1['Cities'] = newind

In [61]:
df1

,T,U,V,W,X,Y,Z,Cities
A,0.302665,1.693723,-1.706086,-1.159119,-0.134841,0.390528,0.166905,Totonro
B,0.184502,0.807706,0.072960,0.638787,0.329646,-0.497104,-0.754070,Ottawa
C,-0.943406,0.484752,-0.116773,1.901755,0.238127,1.996652,-0.993263,Oshswa
D,0.196800,-1.136645,0.000366,1.025984,-0.156598,-0.031579,0.649826,London

In [62]:
df1.set_index('Cities')

                T         U         V         W         X         Y         Z
Cities
Totonro  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528  0.166905
Ottawa   0.184502  0.807706  0.072960  0.638787  0.329646 -0.497104 -0.754070
Oshswa  -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652 -0.993263
London   0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826

In [63]:
df1

,T,U,V,W,X,Y,Z,Cities
A,0.302665,1.693723,-1.706086,-1.159119,-0.134841,0.390528,0.166905,Totonro
B,0.184502,0.807706,0.072960,0.638787,0.329646,-0.497104,-0.754070,Ottawa
C,-0.943406,0.484752,-0.116773,1.901755,0.238127,1.996652,-0.993263,Oshswa
D,0.196800,-1.136645,0.000366,1.025984,-0.156598,-0.031579,0.649826,London

In [64]:
new_col = 'M A N D'.split()

In [65]:
df1['Initials'] = new_col

In [66]:
df1

,T,U,V,W,X,Y,Z,Cities,Initials
A,0.302665,1.693723,-1.706086,-1.159119,-0.134841,0.390528,0.166905,Totonro,M
B,0.184502,0.807706,0.072960,0.638787,0.329646,-0.497104,-0.754070,Ottawa,A
C,-0.943406,0.484752,-0.116773,1.901755,0.238127,1.996652,-0.993263,Oshswa,N
D,0.196800,-1.136645,0.000366,1.025984,-0.156598,-0.031579,0.649826,London,D

**Multi-Index and Index Hierarchies**

In [67]:
outer = ['G1','G1','G1','G2','G2','G2']
inner = [1,2,3,1,2,3]
hier_index = list(zip(outer, inner))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [68]:
list(zip(outer, inner))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [69]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [70]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [71]:
df

             A         B
G1 1  2.154846 -0.610259
   2 -0.755325 -0.346419
   3  0.147027 -0.479448
G2 1  0.558769  1.024810
   2 -0.925874  1.862864
   3 -1.133817  0.610478

In [72]:
df.loc['G1']

          A         B
1  2.154846 -0.610259
2 -0.755325 -0.346419
3  0.147027 -0.479448

In [73]:
df.loc['G1'].loc[1]

A    2.154846
B   -0.610259
Name: 1, dtype: float64

In [74]:
df.index.names

FrozenList([None, None])

In [75]:
df.index.names= ['Outer', 'Inner']

In [76]:
df

                    A         B
Outer Inner
G1    1      2.154846 -0.610259
      2     -0.755325 -0.346419
      3      0.147027 -0.479448
G2    1      0.558769  1.024810
      2     -0.925874  1.862864
      3     -1.133817  0.610478

In [77]:
df.loc['G2'].iloc[2]

A   -1.133817
B    0.610478
Name: 3, dtype: float64

In [78]:
df.loc['G1'].iloc[1]['B']

-0.34641850351854453

In [79]:
df.xs(1,level='Inner')

              A         B
Outer
G1     2.154846 -0.610259
G2     0.558769  1.024810

**Dealing with Missing Data**

In [80]:
d = {'A': [1,2,3,np.nan], 'B':[1,2,np.nan,np.nan], 'C': [1,2,3,4]}

In [81]:
df = pd.DataFrame(d)

In [82]:
df

     A    B  C
0  1.0  1.0  1
1  2.0  2.0  2
2  3.0  NaN  3
3  NaN  NaN  4

In [83]:
df.dropna()

     A    B  C
0  1.0  1.0  1
1  2.0  2.0  2

In [84]:
df.dropna(axis=1)

   C
0  1
1  2
2  3
3  4

In [85]:
df.dropna(thresh=2)

     A    B  C
0  1.0  1.0  1
1  2.0  2.0  2
2  3.0  NaN  3

In [86]:
df.fillna(value = 'Fill Value')

            A           B  C
0         1.0         1.0  1
1         2.0         2.0  2
2         3.0  Fill Value  3
3  Fill Value  Fill Value  4

In [87]:
df.fillna(value = df.mean())

     A    B  C
0  1.0  1.0  1
1  2.0  2.0  2
2  3.0  1.5  3
3  2.0  1.5  4

**Groupby**

In [88]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [89]:
df = pd.DataFrame(data)

In [90]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [91]:
df.isnull().sum()

Company    0
Person     0
Sales      0
dtype: int64

In [92]:
company_grp = df.groupby('Company')

In [93]:
company_grp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [94]:
company_grp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [95]:
company_grp.mean().loc['GOOG']

Sales    160.0
Name: GOOG, dtype: float64

In [96]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [97]:
df.groupby('Company').sum().loc['MSFT']

Sales    464
Name: MSFT, dtype: int64

In [98]:
df.groupby('Company').sum() > 500

         Sales
Company
FB        True
GOOG     False
MSFT     False

In [99]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

**DataFrame Merging, Joining, and Concatenating**

In [100]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [101]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [102]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [103]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [104]:
pd.concat([df1,df2,df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [105]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [106]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [107]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

**Inner Join**

An Inner join returns only the rows that have matching values in both tables. The resulting table contains only the rows where the join condition is satisfied.

In [108]:
pd.merge(left,right, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [109]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [110]:
pd.merge(left,right,on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

**Outer Join**

An Outer join returns all the rows from both tables, and if there is no match in one of the tables, NULL values are returned.

In [111]:
pd.merge(left,right,how= 'outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

**Left Join**

A Left join returns all the rows from the left table (table1), and the matched rows from the right table (table2). If there is no match in the right table, NULL values are returned.

In [112]:
pd.merge(left,right,how= 'left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

**Right Join**

A Right join is similar to a Left join, but it returns all the rows from the right table (table2) and the matched rows from the left table (table1). If there is no match in the left table, NULL values are returned.

In [113]:
pd.merge(left,right,how= 'right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

**Join vs. Merge**

In Merge, we combine two dataframes based on their columns, but in Join, we combine them based on their index.

In [114]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3', 'C4'],
                    'D': ['D0', 'D2', 'D3', 'D4']},
                      index=['K0', 'K2', 'K3', 'k4'])

In [115]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [116]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
k4  C4  D4

In [117]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [118]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
k4  NaN  NaN   C4   D4

**DataFrame Operators**

In [119]:
df = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [120]:
df['col1'].unique()

array([1, 2, 3, 4])

In [121]:
df.nunique()

col1    4
col2    3
col3    4
dtype: int64

In [122]:
df.value_counts()

col1  col2  col3
1     444   abc     1
2     555   def     1
3     666   ghi     1
4     444   xyz     1
dtype: int64

In [123]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [124]:
df[df['col1'] > 3]

   col1  col2 col3
3     4   444  xyz

In [125]:
df[(df['col1'] > 3) | (df['col2'] == 444)]

   col1  col2 col3
0     1   444  abc
3     4   444  xyz

In [126]:
df['col1'].apply(lambda x: x * 20)

0    20
1    40
2    60
3    80
Name: col1, dtype: int64

In [127]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [128]:
df.apply(len)

col1    4
col2    4
col3    4
dtype: int64

In [129]:
df.apply(lambda x: x * 2)

   col1  col2    col3
0     2   888  abcabc
1     4  1110  defdef
2     6  1332  ghighi
3     8   888  xyzxyz

In [130]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [131]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [132]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [133]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [134]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

In [135]:
df = pd.DataFrame(data)

In [136]:
df.pivot_table(values = 'D', index = ['A', 'B'], columns = ['C'] )

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

**Reading and Writing Files**

In [156]:
df = pd.read_csv('/content/example')

In [138]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [139]:
df.to_csv('output', index=False)

In [140]:
pd.read_csv('output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [143]:
df.to_excel('excel_Sample1.xlsx',sheet_name='Sheet1')

In [144]:
df.to_excel('sample2.xlsx', sheet_name='new Sheet')

In [158]:
from sqlalchemy import create_engine

In [159]:
engine = create_engine('sqlite:///:memory:')

In [160]:
df.to_sql('df', engine)

4

In [161]:
sql_df = pd.read_sql('df',con=engine)

In [162]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15